@import "config";

@keyframes animate {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

body {
  background-image: url("../images/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  header {
    height: 50px;
    border-bottom: 1px solid rgba(0, 191, 255, 0.678);
    font-size: 20px;
    font-size: bold;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    color: white;
    nav {
      text-align: right;
      animation-name: change;

      a {
        display: inline-block;
        margin-left: 30px;
        color: white;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 7%;

    form {
      width: 100%;
      padding: 20px;
      border: 1px solid $brand_color;
      background-color: rgba(255, 255, 255, 0.774);

      h3 {
        text-align: center;
        color: black;
        padding: 10px 0;
        font-weight: normal;
      }

      .form-group {
        label {
          display: block;
          width: auto;
          font-size: 18px;
          padding: 10px 0;
        }
        input {
          width: 100%;
          padding: 10px;
          font-size: 18px;
          color: gray;
          border: 1px solid gray;
        }
        input:focus {
          animation-name: animate;
          animation-duration: 1.5s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in;
          animation-play-state: running;
        }
        input:hover {
          background-color: rgba(191, 210, 216, 0.856);
        }
        input[type="radio"] {
          width: auto;
          margin: 10px 20px;
        }

        button {
          background-color: green;
          color: white;
          width: 200px;
          display: block;
          border: 1px solid green;
          padding: 10px 30px;
          margin: 20px auto;
          font-size: 20px;
          cursor: pointer;
        }
        button:hover,
        input[type="reset"]:hover {
          background-color: transparent !important;
          color: green !important;
          transition: background-color 1s;
        }

        input[type="reset"] {
          width: 200px;
          background-color: red;
          color: white;
          border: 1px solid red;
          padding: 10px 30px;
          display: block;
          margin: 30px auto;
          cursor: pointer;
        }
        input[type="reset"]:focus {
          animation-name: none !important;
        }
        input[type="reset"]:hover {
          color: red !important;
        }
      }
      p {
        font-size: 15px;
        text-align: center;

        a {
          color: red;
        }
      }
    }

    #sign-in {
      display: none;
      height: auto;
    }
  }
}

@media screen and (min-width: 778px) {
  form {
    width: 700px !important;
  }
}
