* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@-webkit-keyframes animate {
  0% {
    -webkit-box-shadow: 5px 5px 50px orange;
            box-shadow: 5px 5px 50px orange;
  }
  100% {
    -webkit-box-shadow: 5px 5px 50px darkcyan;
            box-shadow: 5px 5px 50px darkcyan;
  }
}

@keyframes animate {
  0% {
    -webkit-box-shadow: 5px 5px 50px orange;
            box-shadow: 5px 5px 50px orange;
  }
  100% {
    -webkit-box-shadow: 5px 5px 50px darkcyan;
            box-shadow: 5px 5px 50px darkcyan;
  }
}

body {
  background-image: url("../bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(2, 53, 59, 0.918);
}

body .container {
  background-color: rgba(8, 67, 75, 0.712);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 50px;
}

body .container .userReg, body .container .quizPage, body .container .questions, body .container .result, body .container .review {
  color: white;
  height: 100vh;
  width: 100%;
  padding: 0 7%;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .container .userReg h1, body .container .quizPage h1, body .container .questions h1, body .container .result h1, body .container .review h1 {
  padding-top: 150px;
  margin-bottom: 50px;
  font-size: 30px;
}

body .container .userReg label, body .container .quizPage label, body .container .questions label, body .container .result label, body .container .review label {
  font-size: 25px;
}

body .container .userReg input, body .container .quizPage input, body .container .questions input, body .container .result input, body .container .review input {
  display: block;
  margin: 10px auto;
  padding: 9px 20px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid white;
}

body .container .userReg button, body .container .quizPage button, body .container .questions button, body .container .result button, body .container .review button {
  border: 1px solid white;
  background-color: white;
  width: 150px;
  font-size: 20px;
  padding: 5px 0;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
}

body .container .userReg button.animate, body .container .quizPage button.animate, body .container .questions button.animate, body .container .result button.animate, body .container .review button.animate {
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

body .container .userReg button:hover, body .container .quizPage button:hover, body .container .questions button:hover, body .container .result button:hover, body .container .review button:hover {
  background-color: transparent;
  color: white;
  -webkit-box-shadow: 2px 2px 10px white;
          box-shadow: 2px 2px 10px white;
}

body .container .quizPage {
  display: none;
}

body .container .quizPage p {
  font-style: italic;
  font-size: 20px;
}

body .container .quizPage #time {
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
}

body .container .questions {
  display: none;
  text-align: left;
}

body .container .questions .lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

body .container .questions .questionWrapper {
  height: 300px;
}

body .container .questions .questionWrapper .question {
  margin: 10px 0;
  border: 1px solid white;
  padding: 10px;
}

body .container .questions .questionWrapper .option-group {
  padding: 0 15px;
}

body .container .questions .questionWrapper .option-group p {
  margin: 5px 0;
  font-size: 20px;
  border: 1px solid transparent;
}

body .container .questions .questionWrapper .option-group p:hover, body .container .questions .questionWrapper .option-group p.active {
  padding-left: 20px;
  border-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 5px 5px 10px white;
          box-shadow: 5px 5px 10px white;
}

body .container .questions .questionWrapper .option-group input {
  width: auto;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
}

body .container .questions .action {
  margin: 30px 0;
  text-align: center;
}

body .container .result {
  display: none;
}

body .container .result div {
  border: 2px solid white;
  padding: 30px;
  -webkit-box-shadow: 5px 5px 10px white;
          box-shadow: 5px 5px 10px white;
  font-size: 25px;
}

body .container .result div #score {
  background-color: white;
  color: red;
  padding: 10px 20px;
  display: block;
  width: 100px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
}

body .container .review {
  display: none;
}
/*# sourceMappingURL=main.css.map */